html{
	font: 24px/1.71 'Playfair Display', serif;
}
body{
	background: #fff;
	overflow-x: hidden;
}
p{
	margin: 0;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
}
.wrapper{
	margin: 0 auto;
	max-width: 1200px;
}
.page{
	padding: 0 68px;
}